.navbar{
    position:fixed;
    top:0;
    width:100%;
   box-sizing: border-box;
   padding-top:13px;
   height:5.2rem;

   transition-timing-function: ease-in;
   transition:all 0.5s;

}

.nav_black{
    background-color: #111;
    z-index:99;
}
.nav_logo{
    position: fixed;
    width:10rem;
    left:13px;
    object-fit:contain;
}
.nav_avatar{
    position: fixed;
    width:4rem;
    right:13px;
    object-fit: contain;
}